
name: Exemplo da aula de PEDIII - by Slmm

on: [push]
#defaults:
#  run:
#    shell: bash
      
jobs:
  Descobrindo-o-github-actions-workflow:
    runs-on: ubuntu-latest
    steps:
     - run: echo "${{ github.event_name}} evento disparado para esse job "
     - run: echo " O sistemas ${{ runner.os }} esta rodadndo"
     - run: timedatectl


     - name: Checkout git repository 
       uses: actions/checkout@v3   
     - run: |
        echo  ls ${{ github.workspace }}
    
     - name: Teste variaveis
       env:
        VAR1: this is
        VAR2: teste
       run: |
        echo $VAR1 $VAR2 
  
     

#  Mostrando_o_repositorio:
#    name: Segundo Job
#    runs-on: windows-latest
#    steps:
#     - run: echo "Repo-name ${{ github.repository}}"
#     - run: echo "Repo-branch ${{ github.ref }}"
#     - run: echo " O sistemas ${{ runner.os }} esta rodadndo"
#     - run: time
#     
#  Mostrando_o_repositorio_mac_os:
#    name: Terceiro Job
#    runs-on: macos-latest
    
#    steps:
#     - run: echo "Repo-name ${{ github.repository}}"
#     - run: echo "Repo-branch ${{ github.ref }}"
#     - run: echo " O sistemas ${{ runner.os }} esta rodadndo"
#     - run: date
#     - run: time
   
